* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --background-color: rgb(76, 76, 76);
  --background-light-color: rgb(234, 234, 234);
  --accent-color: rgb(254, 81, 118);
}

img {
  filter: grayscale(1);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  background-color: var(--background-color);
  font-style: italic;
  /* margin: 2px; */
}

a:hover {
  color: var(--accent-color);
  /* font-weight: 300; */
  /* text-decoration: underline; */
  transition: color 300ms ease-in-out;
}

p {
  text-align: justify;
  text-indent: 2em;
  margin: 1em 0;
}

h2 {
  font-weight: 300;
}

/* NAVBAR */

.navbar__nav a {
  font-style: normal;
}


.navbar__nav>li {
  margin: 0 1em;
  font-weight: 300;
}

.navbar {
  background-color: var(--background-color);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 24px;
  z-index: 99;
  width: 100%;
  height: 104px;
}

.navbar a {
  background-color: transparent;
}

.navbar__logo {
  max-width: 200px;
}

.navbar__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.navbar__nav {
  font-size: 0.85em;
  color: #fff;
  display: flex;
}

.navbar__nav > li {
  margin: 0 16px;
  /* font-weight: bold; */
}

.navbar__nav--hamburguer {
  display: none;
  filter: grayscale(1) brightness(2);
}


/* -------------------------------------------------------------------------------- */

/* HEADER */

.header {
  min-height: 80vh;
  width: 100%;
  background-image: url(/maravilhosa/img/FM_header.jpg);
  background-size: cover;
  display: flex;
  background-position: 20% top;
  align-items: flex-end;
  justify-content: center;
  color: var(--background-color);
  filter: grayscale(1);
  position: relative;
}

.header > img {
  max-height: 80vh;
  background-position: -6em 0;
}

.header-titulo {
  margin-bottom: 3em;
  margin-top: 3em;
  position: absolute;
  left: 50%;
  bottom: -10%;
  background-color: #fff;
  padding: 0.25em;
  font-weight: 300;
}

/* --- BOTAO --- */


/* SECAO Maravilhosa */

.container {
  /* width: clamp(0.25em, 22em, 95%); */
  /* padding: 0 clamp(0.25em, 50em, 25%); */
  max-width: 50em;
  padding: 0 max(0.25em, 4%);
  margin: 0 auto;
}

.minibio {
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  gap: 1em;
}

.titulo-minibio {
  margin-top: 3em;
  margin-bottom: 3em;
}

.img-minibio {
  display: block;
  max-width: 13em;
  object-fit: cover;
  border-radius: 5px;
}

.img-container {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: auto; */

}

.minibio-texto {
  /* margin-left: 1em; */
  text-align: justify;
  text-indent: 2em;
  /* min-width: 70%; */
  /* min-width: 70%; */
}

.citacao {
  font-size: 18px;
  border-left: 0.75em solid var(--accent-color);
  color: var(--background-color);
  background-color: var(--background-light-color);
  padding: 1.5em;
  /* line-height: 50px; */
  margin: 2em auto;
  color: black;
}

.citacao>div {
  font-weight: 300;
  font-size: 0.75em;
}

/* AUTORA */

.autora {
  margin-top: 1em;
  background-color: var(--background-color);
  height: 8em;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* background-color: var(--accent-color); */
  
}

.img-autora {
  max-width: 7em;
  border-radius: 1000px;
  margin: 1em;
  filter: grayscale(0);
  border: 3px solid var(--accent-color);
}

/* BOTAO */

.botao-link {
  display: flex;
  justify-content: center;
  margin: 5em;
  font-weight: 300;
  font-size: 0.85em;
}

.botao-link > a {
  text-transform: uppercase;
  border-radius: 10px;
  background: var(--background-color);
  /* color: white; */
  padding: 1em;
  display: flex;
  width: fit-content;
}

.botao-link > a:hover {
  background-color: var(--accent-color);
  color: white;
  transition: background-color 200ms ease-in-out;
}

/* FOOTER */

.footer-container {
  background-color: var(--background-color);
  display: grid;

}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4em;
  margin: 1em;
  color: white;

}

.footer-top > a {
  text-align: center;
}

.footer-top > div > a > img {
  height: 1.5em;
}

.footer-bottom {
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 0.75em;
  background-color: var(--accent-color);

}

.footer-bottom a {
  background-color: var(--accent-color);
}

.footer-bottom a:hover {
  background-color: transparent;
  color: var(--background-color);
}

.media-icon:hover {
  filter: brightness(1.3);
}


/* MEDIA QUERY */

@media screen and (max-width: 560px) {
  .container {
    /* max-width: 656px; */
    padding: 1em;
  }

  .minibio {
    flex-wrap: wrap;
  }

  .img-minibio {
    width: 100%;
    /* height: 20em; */
    background-size: cover;
  }
}


@media screen and (max-width: 820px) {

  .navbar__nav {
    display: none;
  }
  .navbar__nav--hamburguer {
    display: block;
    height: 36px;
  }
  .navbar {
    height: 96px;
  }
  .navbar__logo {
    max-width: 196px;
  }

}